<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite Pruebas Automatización">

    <test name="Pruebas Registro">
        <classes>
            <class name="com.pruebacenet.tests.RegistroUsuarioTest"/>
        </classes>
    </test>

</suite>
